.contenedor{
    background-color: yellow;
    display: flex;
    gap: 0.5rem;
    padding: 0.5rem;
    min-height: 5rem;
    /* Eje principal X */
    justify-content: space-between;
    /* Eje secundario Y*/
    align-items: center;
    /* flex-direction: column; */
    flex-wrap: wrap;
}

.item{
    background-color: salmon;
    padding: 0.25rem;
    width: 10rem;
}

.item-2{
    align-self: stretch
}