:root{
    --color-prinicipal: rgb(195, 0, 255);
    --ancho-principal: 250px;
}

.titulo{
    color: var(--color-prinicipal);
}

.footer{
    color: var(--color-prinicipal);
}

.contenedor{
    background-color: antiquewhite;
    padding: 1rem;
    max-width: var(--ancho-principal);
}